.container {
	/* border-bottom: 1px dotted black; */
	padding: 20px;
}

.acquisto_body h1{color: #0e84ab;}
.acquisto_body h2, .acquisto_body h3, .acquisto_body h4, .warning {color: #fe8500; margin-bottom: 0px;}

.acquisto_body h3{color: #241a08;}

.acquisto_body h2{margin-top: 0px;}

.acquisto_body .mess{
	width: 100%; 
	text-align: center; 
	font-size:larger;
	margin-left: 50%;
}

.orari{margin-bottom: 10px;}
.lastaccess{
	margin-top: 0;
	padding-left: 20.5px;
}

.ticketNumber{
	display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
}

.interi, .ridotti{
	-webkit-flex: 1;
   	-ms-flex: 1;
   	flex: 1;
}

.price {
    color: #fe8500;
    font-size: 30px;
    font-weight: bolder;
}

.fa-info-circle{
	font-size: 20px;
	color: #0e84ab;
	float: right;
	padding: 5px;
}

.selezione{
	justify-content: center;
}

.selezione img{
	float: left;
	padding: 10px;
    color: white;
    background-color: #0e84ab;
    border: 2px solid white;
	margin: 10px 10px 10px 0;
    height: 80px;
    width: 80px;
}

.interi-text, .ridotti-text{
	color: #fe8500;
	background-color: #0e84ab;
	padding: 5px;
	font-weight: bold;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
}

.interi fieldset, .ridotti fieldset, #dateContainer{
	background-color: antiquewhite;
	border-color: #0e84ab;
	box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.15);
	margin: 10px;
	height: 90%;
}

#dateContainer{
	width: 50%;
}

.numberPicker{float: right;}

.numberPicker select {
    border: 1px solid #999;
    width: 125px;
    height: 38px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}

.hidden{display: none;}

#dateContainer {
    background-color: antiquewhite;
    border: 2px groove #0e84ab;
    padding: 10px;
    text-align: center;
    margin-left: 23%;
	margin-top: 20px;
	
}

.naviButton{
    background-color: #0e84ab;
    margin: 10px;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 30%;
	float: right;
	
}
.naviButton:disabled{
	background-color: #999;
}

.cartTable{
	border-collapse: collapse ;
	width: 100%;
	text-align: right;
}

#headerRow{
	background-color: #0e84ab;
	color: white;
}

#interiRow, #ridottiRow{
	border: 1px, solid, grey;
	border-left: none;
}

#totalRow{background-color: #fe8500;}

.lftCell{text-align: left;}

.cartTable th, .cartTable td{
	padding: 10px;
}

.extraPanel{clear: both;}

#datiRidotti input, #datiInteri input, .pagamento input, .pagamento select, #dateContainer input{
	font-family: 'Candara';
    height: 15px;
    padding: 6px;
    width: 150px;
    border: 1px solid #e5d1bf;
    border-radius: 8px;
}

#datiInteri div, #datiRidotti div, .pagamento div{
	margin: 3px;
}

.pagamento span, #datiRidotti span, #datiInteri span{
	display: inline-block;
	width: 150px;
}

.pagamento select, #dateContainer input{
    height: auto;
}



@media (max-width: 1024px){
    .container.interi.ridotti.content{
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

}

.carrello{
	padding: 20px;
}

.naviButton:hover{
	background-color: #f09c13;
}