@import url(Css/Fonts.css);

*{
    box-sizing: border-box;
}

.filter-container{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.filter-column{
    position: relative;
    min-height: 1px;
    display: flex;
    width: 100%;
    margin: 20px;
}

.filter-selector{
    font-family: 'Candara', Arial, Serif;
    border-style: hidden;
    padding: 10px;
    width: 100%;
    display: block;
    height: auto;
    min-height: auto;
    border-radius: 5%;
}

select{
    background-color: #a4d2d3;
}

@media (max-width: 1024px){
    .filter-container .animal-container {
        flex-wrap: wrap;
    }

    .filter-column .animal{
        max-width: 1024px;
        margin: 15px 10px 10px 15px;
    }

}

.animal-container{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}



.animal{
    position: relative;
    min-height: 1px;
    display: inline-flex;
    width: 300px;
    min-height: 300px;
    text-align: center;

}

.animal-image-section{
    font-family: 'Candara', Arial, Serif;
    border: 10px solid #5d4c2b;
    border-radius: 5%;
    border-bottom: 5px solid #5d4c2b;
    width: 100%;
    height: auto;
    min-height: auto;
    max-width: 250px;
    max-height: 250px;
    text-align: center;
    margin: auto;
    background-color: #f09c13;
}

.animal-image-section button{
    border: none;
    background: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}


.animal h1{
    font-family: 'Candara', Arial, sans-serif;
    font-size:medium;
    text-align: center;
}

.animal img{
    width: 100%;
    height: 190px;
    border-radius: 1%;
    border-bottom: 10px solid #241a08;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.animal-details-popup{
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.animal-details-popup.open{
    opacity: 1;
    z-index: 999;
}

.popup-text-container{
    background-color: #fff;
    width: 380px;
    border-radius: 10px;
    text-align: center;
    padding: 15px 25px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
