@import url(Fonts.css);
body{
    font-family: 'Candara';
    background: #e5d1bf;
    margin: 0;
}
.lock{
    overflow-y: hidden;
}
 .header *{
   margin: 0; 
   padding: 0;
   list-style: none;
   text-decoration: none;
}

.navigation-bar{
    height: 120px;
}

.logo{
    width: 130px;
    height: 120px;
    position: absolute;
    left: 7%;
}
.navigation-bar ul li img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.navigation-bar ul{
    float: right;
    margin-right: 100px;
}

.navigation-bar ul .text{
    margin-top: 20px;
}

.navigation-bar ul .image{
    margin-top: 0px;
}

.navigation-bar ul .text{
    display: inline-block;
    line-height: 80px;
    margin-right: 80px;
}

.navigation-bar ul .image{
    display: inline-block;
    line-height: 80px;
}

.dropbtn{
    position: absolute;
    top:4%;
    width: 60px;
    height: 60px;
    background-image: url("../img/user_icon.png");
    background-size: cover;
    border: none;
    background-color: #e5d1bf;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 350px;
    right: 1%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.contenitore-info{
    display: grid;
    grid-template-columns: 25% 50%;
}
.logo-iniziali{
    border-radius: 50%;
    background-color: #f09c13;
    width: 64px;
    height: 64px;
    margin: 12px 16px;
}

.iniziali{
    text-align: center;
    top: 25%;
    position: relative;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.info-utente{
    float: left;
    padding: 22px 16px;
}
  
.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    background-color: #ddd;
  }
  
.show {
    display: block;
  }

.navigation-bar ul li a{
    position: relative;
    color: black;
    padding: 16px;
    font-size: 18px;
    text-transform: uppercase;
}

.navigation-bar ul li .image{
    position: absolute;
    top: 50%;
}

.navigation-bar ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

.navigation-bar ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
label #btn, 
label #cancel{
    color: black;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 1118px){
    div .logo{
        left: 5%;
    }
    .navigation-bar ul li a{
        font-size: 17px;
    }

    .dropdown-content {
        left: 75%;
    }

}

@media (max-width: 1024px){
    label #btn{
        display: block;
    }
    .navigation-bar ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #e5d1bf;
        top: 80px;
        margin-top: 30px;
        left: -100%;
        transition: all .5s;
        text-align: center;
        z-index: 999;
    }
    .navigation-bar ul .text{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navigation-bar ul .text{
        display: block;
        line-height: 30px;
    }

    .navigation-bar ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }

    #check:checked ~ label #cancel{
        display: block;
    }

    .dropdown-content {
        top:55%;
        left: 1%;
    }

    .dropbtn{
        right: 46%;
        top: auto;
    }

}

.popup{
    position: absolute;
    top: -50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: white;
    border-radius: 10px;
    transition: top 6ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.popup.activate{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
    box-sizing: unset;
    z-index: 999;
}


.popup #close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
    background: none;
    border: none;
}

.popup .form h2{
    text-align: center;
    color: black;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .form .form-element{
    margin: 15px 0px;
}

.popup .form .form-element label{
    font-size: 14px;
    color: black;
}

.popup .form-element .occhietto{
    position: relative;
}

.popup .form-element .occhietto #togglep{
    position: absolute;
    margin: -25px;
    margin-left: 93%;
    cursor: pointer;
}

.popup .form-element .occhietto #occhio{
    position: absolute;
    margin: -36px;
    margin-left: 93%;
    z-index: 1;
    width: 6px;
    border: none;
    color: white;
}

.popup .form .form-element input{
    margin-top: 5px;
    display: block;
    width: 95%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.button-container{
    display: flex;
    margin: auto;
    position: relative;
}

.button-section{
    position: relative;
    min-height: 1px;
    display: flex;
    width: 100%;
    margin: 3px 20px 3px 20px;
}

.popup .form button, 
#login-btn{
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popup .form .form-element #login-btn{
    margin-top: 0px;
}

.lineaOmbra  {
    width: 100%;
    height: 20px;
    margin-top: -20px;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px #c2a58c;
	border-radius: 10px;
	background-color: #e6dcd4;
}

::-webkit-scrollbar{
	width: 12px;
	background-color: #f0e3d8;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #efe6de;
	background-color: #bca18b;
}