body{
    background-color: #e5d1bf;
    font-family: 'Candara';
}

.leone input{
    font-family: 'Candara';
    height: 20px;
    padding: 10px;
    width: 200px;
    border: 1px solid #e5d1bf;
    border-radius: 10px;
}

.leone input[type=submit]{
    text-align: center;
    font-weight: bold;
    font-family: 'Candara';
    height: 40px;
    width: 150px;
    border: 1px solid #e5d1bf;
    border-radius: 10px;
    margin-left: 145px;
    
}

.campi_obbligatori{
    font-family: 'Candara';
    text-align: center;
}

.leone #passwordCONocchio{
    position: relative;
}

.leone #togglePassword {
    position: absolute;
    margin: -30px;
    top: 43px;
    cursor: pointer;
    width: 26px;
    color: black;
}

.nascosto{
    display: none;
}

.visibile{
    display: block;
}

.leone span { 
    display: inline-block;
    width: 150px;

}


.leone form{
    position: relative;
    margin: 60px;
}
  
.leone{
    position: relative; 
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    padding-left: 150px;
    color: white;
    margin-top: -40px;
    z-index: -1;

}
  
.leone::before {    
    content: "";
    border-radius: 150px;
    margin: 60px 200px 60px 200px;
    background-image: url("leone.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

#scritta{
    margin-top: -70px;
    padding-bottom: 50px;
    font-size:large;
    
}

.tigre{
    overflow-y: auto; 
    position: relative; 
    height: 700px;
    display: flex;
    justify-content: right;
    padding-left: 150px;
    color: white;
}
  
.tigre::before {    
    content: "";
    border-radius: 150px;
    margin: 20px 150px 20px 150px;
    background-image: url("TIGRE.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.tigre table{
    width: 60%;
    margin: 0 auto;
    z-index: 1;
    padding-left: 370px;
    margin-top: 80px;
    display: table-row;
    font-size: medium;

}

.tigre th{
    padding: 10px;
}

#areapersonale #dati, #areapersonale #storico, #areapersonale #logout {
    color: black;
    margin-right: 30px;
    cursor: pointer;
 }
@media screen and (max-width: 640px) {
    .leone input{
        width: 60%;
        margin-bottom: 10px;
    }
    
    .leone input[type=submit]{
        margin-top: 20px;
        width: 50%;    
    }  

    #scritta{
        font-size: medium;  
    }

    .leone{
        height: 650px;
        padding-left: 0px;
    }
      
    .leone::before {    
        margin: 50px 20px 50px 20px;
    }

    .leone br {
        display: none;
    }

    .leone #togglePassword {
        margin-left: -30px;
    }
}
