@import url(Css/Fonts.css);
body{
    font-family: 'Candara';
    height: 120px;
    background: #e5d1bf;
}
*{
   margin: 0; 
   padding: 0;
   list-style: none;
   text-decoration: none;
}

.buy-tickets-container{
    max-width: 80%;
    position: relative;
    margin: auto;
    background-color: white;
    height: 100px;
}

.buy-tickets-content{
    text-align: center;
    padding-top: 40px;
}

.map-container{
    max-width: 80%;
    position: relative;
    margin: auto;
}

.map-content img{
    max-width: 100%;
}