@import url(Css/Fonts.css);
body{
    font-family: 'Candara';
    height: 120px;
    background: #e5d1bf;
}
*{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
}

.tag.visible {
  opacity: 1;
  transform: translate(0,0);
}

.tag{
  opacity: 0;
  transform: translate(0,10vh);
  transition: all 3s;
}

.tag.tickets,.tag.openingtime{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
  position: relative;
  max-width: 80%;
}

.tag.map{
  margin: auto;
  position: relative;
  max-width: 80%;
}
.buy-tickets-container{
    max-width: 100%;
    position: relative;
    background-color: #f4e9df;
    height: 100%;
    -moz-box-shadow: 2px 4px 2px #e1c8b2;
    -webkit-box-shadow: 2px 4px 2px #e1c8b2;
    box-shadow: 10px 10px 2px #e1c8b2;
}
.buy-tickets-container1{
  max-width: 100%;
  position: relative;
  background-color: #f4e9df;
  height: 100%;
  -moz-box-shadow: 2px 4px 2px #e1c8b2;
  -webkit-box-shadow: 2px 4px 2px #e1c8b2;
  box-shadow: 10px 10px 2px #e1c8b2;
  display: flex;
}

.photo {
  width: 60%;
  margin: 0% 20% 0% 20%;
}

#selector1{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #a4d2d3;
  padding-left: 5px;
}

#selector2{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #a4d2d3;
  padding-left: 5px;
}
.buy-tickets-content{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
}

.buy-tickets-textcontent{
    padding-top: 5%;
}
.btn-tickets-container{
  padding-top: 7%;
  padding-bottom: 3%;
  padding-left: 30px;
  font-size: 15px;
}
.btn-tickets{
  text-align: center;
  border: none;
  background-color: #eaa536;
  padding: 15px;
  border-radius: 10px;
}

.date-picker{
  background-color: #a4d2d3;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 10px;
}

.hours, .price {
  text-align: center;
  padding-top: 7%;
}

.map-text{
  text-align: center;
  padding-top: 12%;
  display: flex;
}

.price .btn-tickets-container {
  padding-left: 0;
  padding-top: 0;
}

.map-container{
    max-width: 80%;
    position: relative;
    margin: auto;
}
.map-content{
    display: flex;
}
.map-content img{
    max-width: 100%;
}

hr{
  color:gray;
}

footer{
  height: 50%;
  text-align: center;
}
footer .div{
  text-align: center;
}
footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size: x-large;
}
  
footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  margin-right: 0.5%;
}
  
footer .row a:hover{
  color:#fff;
}