body{
    background-color: #e5d1bf;
    font-family: 'Candara';
}

.leopardo input{
    font-family: 'Candara';
    height: 20px;
    padding: 10px;
    width: 200px;
    border: 1px solid #e5d1bf;
    border-radius: 10px; 
    margin-right: 10px;
    margin-left: 20px;
}

.leopardo input[type=submit]{
    text-align: center;
    font-weight: bold;
    font-family: 'Candara';
    height: 40px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px; 
    margin-left: 180px;   
}

.leopardo h1{
    font-family: 'Candara';
    text-align: center;
    margin-top: 40px; 
}

.campi_obbligatori{
    font-family: 'Candara';
    text-align: center;
}

.leopardo #passwordCONocchio, .leopardo #confermapasswordCONocchio{
    position: relative;
    height: 20px;
    width: 200px;   
}

.leopardo #confermapasswordCONocchio{
    left:255px;
    bottom: 20px;
}

.leopardo #togglePassword, #togglePassword1 {
    position: absolute;
    margin: -30px;
    left: 48.5%;
    top: 105%;
    cursor: pointer;
    width: 26px;
    float: left;
}

.leopardo form{
    position: relative;
    margin: 60px;
}
  
.leopardo{
    position: relative; 
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    padding-left: 130px;
}
  
.leopardo::before {    
    content: "";
    border-radius: 150px;
    margin: 50px 180px 50px 180px;
    background-image: url("leopardo1.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

#scritta{
    margin-top: -70px;
    padding-bottom: 40px;
    font-size:large;
    margin-left: 25px;
    
}


@media screen and (max-width: 900px) {
    .leopardo input{
        margin-bottom: 10px;
    }
    
    .leopardo input[type=submit]{
        margin-top: 50px;
        width: 50%;    
        margin-left: 0px;
    }  

    #scritta{
        font-size: medium;  
        margin-left: 0px;
    }

    .leopardo{
        height: 700px;
        justify-content: center;
        text-align: center;
        padding-left: 0px;
    }
      
    .leopardo::before {    
        margin: 50px 20px 50px 20px;
    }

    .leopardo br {
        display: none;
    }

    .leopardo #confermapasswordCONocchio{
        left:15%;
        bottom: 0px;
    }

    .leopardo #togglePassword, #togglePassword1 {
        margin: -30px;
        left: 90%;
        top: 84%;
    }
}
  